// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// App
@import "products";

// Global
body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.login-details {
  float: right;
  margin-top: 15px;
  margin-left: 15px;
}
